<!-- <p>Welcome the date and time is <%= Time.now %></p> -->

<div class="row frontfeature">
  <div class="col-md-6 feature1"><%= image_tag("62H.png", class: "img-responsive") %></div>
  <div class="col-md-6 feature2"><h2 class="featurette">Hello.</h2><p class="lead">For over 25 years Bike Berlin has been known as the premier location to buy, sell, and trade bicycles. Come in today and browse our selection, and speak to our knowlegeble staff.</p></div>
</div>
