// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_box {
  margin-bottom: 20px;
}

.comment-form {
  float: left;
  display: block;
  padding-bottom: 50px;
}

.comment-display {
  display: block;
  clear: both;
}

.comment-display p {
  text-align: left;
}

.rated {
  padding-bottom: 10px;
}
